/* Override some defaults */
body {
  background: #FFFFFB;
}

.navbar-inner {
  background: #D05A6E;
  min-height: 30px;
  height: 30px;
}

.navbar-inner .brand {
  margin: 0 auto;
  font-size: 14px;
  line-height: 30px;
  color: white;
  height: 30px;
  font-weight: bold;
  float: none;
  padding: 0px;
  text-shadow: none;
}

.intro {
  background: #FCFAF2;
  padding: 10px 0;
  border-bottom: 1px solid #EEE;
}

.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 1px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.avatar-link img {
  display: block;
  float: left;
  margin-right: 40px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  box-shadow: inset 0 -1px 0 #3333sf;
  -webkit-box-shadow: inset 0 -1px 0 #3333sf;
  -webkit-transition: 0.4s;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  -moz-transition: -moz-transform 0.4s ease-out;
}

.avatar-link blockquote {
  margin: 40px 0 0 0;
}

.avatar-link blockquote.pull-right small::after {
  content: '';
}

#myCarousel {
  margin: auto;
}

#myCarousel img {
  width: 100%;
}

#myCarousel.carousel {
  margin-bottom: 0;
}

.content p {
  font-size: 15px;
  font-weight: normal;
  line-height: 180%;
  margin-bottom: 20px;
}

.footer {
  padding: 20px 0;
  margin-top: 40px;
  border-top: 1px solid #EEE;
  background: #FCFAF2;
  color: #999;
}

.footer small {
  color: #DDD;
}
